// ========================= Documents =========================================

.documents {
	background-image: url('../img/documents/background.jpg');
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	padding: 20px 0;

	// .documents__container
	&__container {
		@media (min-width: 48.0625em) {
			display: flex;
			align-items: center;
			justify-content: space-between;

			padding: 3% 0;
		}

		@media (min-width: 90.0625em) {
			max-width: 70%;
		}
	}

	// .documents__text-content
	&__text-content {}

	// .documents__question
	&__question {}

	// .documents__title
	&__title {
		color: #fff;
	}

	// .documents__list
	&__list {}

	// .documents__item
	&__item {
		color: #fff;

		span {
			color: #ffb900;
		}
	}

	// .documents__images-item
	&__images-item {
		padding: 0 0 50%;
		position: relative;

		@media (min-width: 26.625em) {
			display: block;
		}

		@media (min-width: 48.0625em) {
			height: 100%;
			flex: 0 0 30%;
			padding: 0 0 40%;
		}
	}

	// .documents__image
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: contain;

		// .documents__image_frame
		&_frame {}

		// .documents__image_check
		&_check {
			top: 50%;
			left: 50%;

			transform: translate(20%, -50%);

			&.appeared {
				transform: translate(-50%, -50%);
			}
		}
	}
}

// =============================================================================